<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google" value="notranslate" />

<title>Użytkownicy</title>
<link th:href="@{/style/bootstrap.min.css}" rel="stylesheet" />
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/css/bootcards-desktop.min.css}"
	rel="stylesheet" />
<link
	th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
	rel="stylesheet" />
</head>

<body>

	<div class="container bootcards-container push-right">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Strona główna</a></li>
			<li class="breadcrumb-item active">Panel użytkowników</li>
		</ol>
		<!-- This is where you come in... -->
		<!-- I've added some sample data below so you can get a feel for the required markup -->

		<div class="row">
			<!-- left list column -->
			<div class="col-sm-5 bootcards-list" id="list" data-title="Contacts">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="search-form">
							<div class="row">
								<div class="col-xs-9">
									<div class="form-group">
										<form method="get" th:action="@{/uzytkownicy}"
											th:object="${search}">
											<input type="text" class="form-control" name="search"
												id="search" placeholder="Szukaj klientów..." /> <i
												class="fa fa-search"></i>
											<div class="btn-group pull-right">
												<button type="submit" class="btn btn-success">Szukaj</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--panel body-->

					<div class="list-group">
						<c:forEach data-th-each="user : ${users}">

							<!-- list of sample data -->
							<a class="list-group-item"
								th:href="${'/uzytkownicy/' + {user.id}}"> <img
								th:src="@{'/uzytkownicy/image/' + ${user.id}}"
								class="img-rounded pull-left" />
								<h4 class="list-group-item-heading"
									data-th-text="${user.firstname}+ ' ' + ${user.lastname}">
								</h4>
								<p class="list-group-item-text">Pacjent</p>
							</a>
						</c:forEach>
					</div>
					<!--list-group-->
				</div>
				<!--panel-->
			</div>
			<!--list-->
			<!--list details column-->
			<div th:if="${details != null}">
				<div class="col-sm-7 bootcards-cards hidden-xs">

					<div class="panel panel-default bootcards-richtext">
						<div class="panel-heading">
							<h3 class="panel-title">Opis klienta</h3>
						</div>
						<div class="panel-body client-description">
							<p th:text="${details.comment}"></p>
						</div>
					</div>
					<!--end rich text card-->

					<!--contact details -->
					<div id="contactCard">

						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title pull-left">Informacje o kliencie</h3>
							</div>
							<div class="media block-update-card">
								<a class="pull-left" href="#"> <img
									style="height: 300px; width: 230px;"
									class="media-object update-card-MDimentions"
									th:src="@{'/uzytkownicy/image/' + ${details.id}}" />
								</a>
								<div class="media-body update-card-body">

									<div class="list-group-item ">
										<label>Imie i nazwisko</label>
										<h4 class="list-group-item-heading client-name"
											data-th-text="${details.firstname}+ ' ' + ${details.lastname}"></h4>
									</div>
									<a class="list-group-item"> <label>Telefon</label>
										<h4 class="list-group-item-heading client-phone"
											data-th-text="${details.phonNumber}"></h4>
									</a> <a class="list-group-item"> <label>E-mail</label>
										<h4 class="list-group-item-heading client-email"
											data-th-text="${details.email}"></h4>
									</a> <a class="list-group-item"> <label>Data urodzenia</label>
										<h4 class="list-group-item-heading birth-date"
											data-th-text="${details.dateOfBirth}"></h4>
									</a>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h3 class="panel-title pull-left">Notatki</h3>
								<a class="btn btn-primary pull-right hidden-xs" href="#"
									data-toggle="modal" data-target="#addNote"> <i
									class="fa fa-pencil"></i><span>Dodaj notatkę</span>
								</a>
							</div>
							<div class="list-group">
								<c:forEach data-th-each="note : ${notes}">
									<div class="list-group-item">
										<p class="list-group-item-text" th:text="${note.date}"></p>
										<p th:text="${note.noteText}"></p>
									</div>
								</c:forEach>
							</div>
						</div>
					</div>
					<!--contact card-->
				</div>
				<!--list-details-->
			</div>
		</div>
		<!--row-->

	</div>
	<!--container-->

	<!-- fixed tabbed footer -->
	<div class="navbar navbar-default navbar-fixed-bottom">

		<div class="container">

			<div class="bootcards-desktop-footer clearfix">
				<p class="pull-left">Projekt zespołowy WEB</p>
			</div>

			<div class="btn-group">
				<a href="#" class="btn btn-default"> <i
					class="fa fa-2x fa-dashboard"></i>Dashboard
				</a> <a href="starter-template.html" class="btn btn-default active">
					<i class="fa fa-2x fa-users"></i>Contacts
				</a> <a href="az-picker.html" class="btn btn-default"> <i
					class="fa fa-2x fa-font"></i>AZ Picker
				</a>
			</div>
		</div>

	</div>
	<!--footer-->


	<!--edit contact modal-->
	<div class="modal fade" id="addNote" tabindex="-1" role="dialog"
		aria-labelledby="addNote" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Dodaj notatkę</h4>
				</div>

				<div class="modal-body">
					<form class="form-horizontal" role="form" th:object="${notatka}"
						method="post">
						<div class="form-group">
							<label for="firstName">Notatka</label>
							<textarea type="text" rows="5" class="form-control" id="noteText"
								placeholder="Notatka" th:field="*{noteText}" required="true" />

							<div class="btn-group pull-right">
								<button type="submit" class="btn btn-success">Zapisz</button>
							</div>
							<div class="btn-group pull-left">
								<button class="btn btn-danger" data-dismiss="modal">
									Odrzuć</button>
							</div>

						</div>
					</form>
				</div>
			</div>
			<!--modal-content-->
		</div>
	</div>
	<!--modal-->

	<!-- Bootstrap & jQuery core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!-- Bootcards JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/js/bootcards.min.js"></script>
	<script th:src="@{/js/bootstrap-confirmation.js}"></script>
	<!--recommended: FTLabs FastClick library-->
	<script th:src="@{/js/fastclick.js}"></script>

	<script type="text/javascript">
		$('.list-group-item').click(function() {
			$('.list-group-item').removeClass('active');
			$(this).addClass('active');
		});
		/*
		 * Initialize Bootcards.
		 * 
		 * Parameters:
		 * - offCanvasBackdrop (boolean): show a backdrop when the offcanvas is shown
		 * - offCanvasHideOnMainClick (boolean): hide the offcanvas menu on clicking outside the off canvas
		 * - enableTabletPortraitMode (boolean): enable single pane mode for tablets in portraitmode
		 * - disableRubberBanding (boolean): disable the iOS rubber banding effect
		 * - disableBreakoutSelector (string) : for iOS apps that are added to the home screen:
		                      jQuery selector to target links for which a fix should be added to not
		                      allow those links to break out of fullscreen mode.
		 */

		bootcards.init({
			offCanvasBackdrop : true,
			offCanvasHideOnMainClick : true,
			enableTabletPortraitMode : true,
			disableRubberBanding : true,
			disableBreakoutSelector : 'a.no-break-out'
		});

		//enable FastClick
		window.addEventListener('load', function() {
			FastClick.attach(document.body);
		}, false);

		//activate the sub-menu options in the offcanvas menu
		$('.collapse').collapse();

		//theme switcher: only needed for this sample page to set the active CSS
		$('input[name=themeSwitcher]')
				.on(
						'change',
						function(ev) {
							var theme = $(ev.target).val();
							var themeCSSLoaded = false;

							$.each(document.styleSheets, function(idx, css) {
								var href = css.href;
								if (href.indexOf('bootcards') > -1) {
									if (href.indexOf(theme) > -1) {
										themeCSSLoaded = true;
										css.disabled = false;
									} else {
										css.disabled = true;
									}
								}
							});

							if (!themeCSSLoaded) {
								$(
										"<link/>",
										{
											rel : "stylesheet",
											type : "text/css",
											href : "//cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-"
													+ theme + ".min.css"
										}).appendTo("head");
							}

						});
	</script>
</body>
</html>
